body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #92B775; /* оновлений зелений */
  padding: 10px 20px; /* трохи вужче */
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

header .logo {
  height: 60px; /* трохи більший логотип */
  margin-right: 15px;
}

header h1 {
  font-size: 1.6rem; /* трохи менше назва */
  margin: 0;
}



.container {
  display: flex;
  min-height: 80vh;
}

#sidebar {
  width: 200px;
  background-color: #e8f5e9;
  padding: 15px;
  border-right: 2px solid #4CAF50;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
}

#sidebar li:hover {
  background-color: #c8e6c9;
}

#main-content {
  flex-grow: 1;
  padding: 20px;
}

#map {
  height: 500px;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#info-panel {
  margin-top: 15px;
  padding: 10px;
  background-color: #f1f8e9;
  border: 1px solid #4CAF50;
  border-radius: 5px;
}
